<h2>Task list</h2>


<ul class="tasklist">
  <li [ngClass]="{'disabled': task.done === true}" *ngFor="let task of tasks" (click)="select(task)">      
      <input [(ngModel)]="task.done" 
      type="checkbox">  
      <div *ngIf="task.done === false && task === selectedTask then writable else non_writable"></div>
      
      <ng-template #writable>
          <input [(ngModel)]="task.name" type="text" placeholder="task name">
      </ng-template>

      <ng-template #non_writable>
          <span>{{task.name}}</span>
      </ng-template>

      <button *ngIf="task === selectedTask" (click)="remove(task)">Del</button>
  </li>
</ul>

<div>
  <input [(ngModel)]="newTaskName" type="text" placeholder="Add a task">
  <button (click)="add()">Add</button>
</div>